aiodns>=1.1.1
aiohttp>=3.4.4
aiohttp-jinja2>=1.1.0
aiohttp-session>=2.7.0
async-timeout>=3.0.1
astropy>=3.0.5
bcrypt>=3.1.4
cchardet>=2.1.1
cryptography>=2.4.1
gunicorn>=19.9.0
jinja2>=2.10
matplotlib>=3.0.1
misaka>=2.1.0
numpy>=1.15.4
motor>=2.0.0
pandas>=0.23.4
pyjwt>=1.6.4
pymongo>=3.7.2
-e git://github.com/Supervisor/supervisor.git#egg=supervisor
