{% extends "template.html" %}

{% block nav_docs %}
    active
{% endblock %}

{% block css %}
{#    <link rel="stylesheet" href="{{-script_root-}}/static/css/github-v2.css">#}
    <link rel="stylesheet" href="{{-script_root-}}/static/css/tranquil-heart.css">
{% endblock %}

{% block body %}

    <div class="container">

        <h3>Tutorials</h3><br>

        <h4>{{ title }}</h4><br>

        {{ content | safe }}

    </div>

{% endblock %}

{% block js %}
    {# highlight code #}
    <script>
        $("pre").addClass("prettyprint")
    </script>
    <script src="{{-script_root-}}/static/js/run_prettify.js"></script>
{% endblock %}