{% extends "template.html" %}

{# custom css #}
{% block css %}
    <link rel="stylesheet" href="{{-script_root-}}/static/css/bootstrap-table.css">
    <link rel="stylesheet" href="{{-script_root-}}/static/css/js9support.css">
    <link rel="stylesheet" href="{{-script_root-}}/static/css/js9.css">
{% endblock %}

{% block nav_lab %}
    active
{% endblock %}

{% block body_top %}
    <div class="container-fluid mt-2">

        <div id="accordion" role="tablist" class="mt-2">
            <div class="card">
                <div class="card-header" role="tab" id="headingQueryTab">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#queryTab" aria-expanded="true"
                           aria-controls="queryTab">
                            Lab: Search ZTF Alerts
                        </a>
                    </h5>
                </div>
                <div id="queryTab" class="collapse" role="tabpanel" aria-labelledby="headingQueryTab">
                    <div class="card-body">
                        <form id="query_form" class="form" method="post">

                            <div class="form-group row">
                                <label for="ra" class="col-md-2 col-form-label">RA/Dec, ICRS</label>
                                <div class="col-md-10">
                                    <textarea class="form-control form-control-sm object_coordinates" id="radec" name="radec"
                                              placeholder="Python-readable list of comma-separated object coordinates or dictionary:
[(HH:MM:SS, DD:MM:SS) or (HHhMMmSSs, DDdMMmSSs) or (deg, deg)]
Examples:
[(0.0, 0.0)]
[(0.0, 0.0), (1.0, 1.0)]
[('08:55:29.205', '-34:02:36.8944')]
{'object1': ('08h55m29.205s', '-34d02m36.8944s'), 'object2': ('06h55m29.205s', '32d02m36.1944s')}

Alternatively, for a single source, either two numbers [deg deg] or two strings [HH:MM:SS DD:MM:SS] or [HHhMMmSSs DDdMMmSSs]:
0.0 0.0
18:43:58.5333 -20:41:41.513
"
                                              rows="8"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="cone_search_radius" class="col-md-2 control-label">
                                    Cone search radius
                                </label>

                                <div class="col-md-5">
                                    <input type="text" class="form-control form-control-sm object_coordinates" id="cone_search_radius"
                                           name="cone_search_radius" placeholder="">
                                </div>
                                <div class="col-md-5">
                                    <select class="form-control form-control-sm object_coordinates" id="cone_search_unit"
                                            name="cone_search_unit">
                                        <option>arcsec</option>
                                        <option>arcmin</option>
                                        <option>deg</option>
                                        <option>rad</option>
                                    </select>
                                </div>

                            </div>

                            <div class="form-group row">
                                <label for="filter" class="col-md-2 col-form-label">Filter</label>
                                <div class="col-md-10">
                                    <textarea class="form-control form-control-sm"
                                              id="filter" name="filter"
                                              placeholder="Filter in MongoDB syntax, see help"
                                              rows="3"></textarea>
                                </div>
                            </div>

                            <button type="button" class="btn btn-dark btn-sm" id="submit_query">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}


    <div class="container-fluid ">

        <div id="toolbar" class="btn-group">
            <button type="button" class="btn btn-outline-dark"
                    style="cursor: pointer;" onclick="toggle_expansion()"
                    data-toggle="tooltip" data-placement="top" title="Show/hide more">
                <i id="expansion_toggle" class="fas fa-plus" aria-hidden="true"></i>
            </button>

{#            <button type="button" class="btn btn-outline-dark"#}
{#                    style="cursor: pointer;" onclick="toggle_invert_cutouts()"#}
{#                    data-toggle="tooltip" data-placement="top" title="Invert cutout colors">#}
{#                <i id="expansion_toggle" class="fas fa-adjust" aria-hidden="true"></i>#}
{#            </button>#}

        </div>

        <table id="table"
               class="table table-hover table-condensed"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-pagination="true"
               data-side-pagination="client"
               data-minimum-count-columns="2"
               data-page-size="20"
               data-page-list="[20, 50, 100, 500, All]"
               data-search="true"
               data-detail-view="true"
               data-detail-formatter="detailFormatter"
               data-show-columns="true"
               data-show-multi-sort="true"
               data-show-export="true"
               data-export-types="['json', 'csv']"
               data-export-options='{ "fileName": "ztf-alerts",
                                          "worksheetName": "ztf-alerts"
                                         }'>
        </table>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
         aria-labelledby="modal-query-id" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-query-id"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                    <pre><code id="modal-body-code" style="font-size:0.75em;"></code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bootstrap table -->
    <script src="{{-script_root-}}/static/js/bootstrap-table.js"></script>
    <script src="{{-script_root-}}/static/js/bootstrap-table-en-US.js"></script>
    <script src="{{-script_root-}}/static/js/tableExport.js"></script>
    <script src="{{-script_root-}}/static/js/bootstrap-table-export.js"></script>
    <script src="{{-script_root-}}/static/js/FileSaver.min.js"></script>

    <!-- Big int support for js -->
    <script src="{{-script_root-}}/static/js/json-bigint.js"></script>

    <!-- Julian dates -->
    <script src="{{-script_root-}}/static/js/julianDate.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <script>
        // Fancy table stuff
        function getHeight() {
            var window_height = $(window).height();
            {#console.log(window_height);#}
            {#console.log(document.getElementById('table').getBoundingClientRect().top);#}
            if (window_height > 1200) {
                var top = document.getElementById('table').getBoundingClientRect().top;
                return Math.max(560, window_height - top - 20);
            }
            else {
                var top = document.getElementById('table').getBoundingClientRect().top;
                return Math.max(560, window_height - top - 20);
            }
        }

        var jd = new JulianDate();

        // build table using js
        $('#table').bootstrapTable({
            height: getHeight(),
            columns: [
                [
                    {
                        field: 'obs_date',
                        title: 'T_obs, UTC',
                        rowspan: 2,
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        visible: true
                    },
                    {
                        field: 'objectId',
                        title: 'objectId',
                        rowspan: 2,
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        field: 'candid',
                        title: 'candid',
                        rowspan: 2,
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        field: 'candidate',
                        title: 'candidate',
                        colspan: 8,
                        align: 'center',
                        valign: 'middle'
                    }
                ],
                [
                    {
                        field: 'programid',
                        title: 'programid',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        visible: true
                    },
                    {
                        field: 'fid',
                        title: 'fid',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        visible: true
                    },
                    {
                        field: 'rb',
                        title: 'rb',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        visible: true
                    },
                    {
                        field: 'magpsf',
                        title: 'magpsf',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        visible: true
                    },
                    {
                        field: 'sigmapsf',
                        title: 'sigmapsf',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        visible: false
                    },
                    {
                        field: 'pdiffimfilename',
                        title: 'pdiffimfilename',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        visible: false
                    },
                    {
                        field: 'ra',
                        title: 'R.A.',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        visible: true
                    },
                    {
                        field: 'dec',
                        title: 'Decl.',
                        align: 'center',
                        valign: 'middle',
                        sortable: true,
                        visible: true
                    }
                ]
            ],
            data: [
                {%-for alert in alerts-%}
                   {% set candid = alert['candid'] %}
                   {% set objectId = alert['objectId'] %}
                    {
                        objectId: "{{objectId}}",
                        candid: "{{candid}}",

                        obs_date: moment(jd.julian({{ alert['candidate']['jd'] }}).getDate()).utc().format('YYYY/MM/DD_HH:mm:ss'),

                        ra: "{{ alert['coordinates']['radec_str'][0] }}",
                        dec: "{{ alert['coordinates']['radec_str'][1] }}",

                        programid: "{{alert['candidate']['programid']}}",
                        fid: "{{alert['candidate']['fid']}}",
                        rb: "{{alert['candidate']['rb']}}".slice(0, 4),
                        magpsf: "{{alert['candidate']['magpsf']}}".slice(0, 5),
                        sigmapsf: "{{alert['candidate']['sigmapsf']}}".slice(0, 4),
                        pdiffimfilename: "{{alert['candidate']['pdiffimfilename']}}"
                    },
                {%-endfor-%}
            ]
        });

        // display details
        function detailFormatter(index, row, element) {
            var html = [];

            // Buttons:
            html.push("<div class=\"row p-0 m-0\">");
            html.push("<div class=\"col-12 p-0 m-0\">");
            // details:
            {#html.push("<br>");#}
            html.push("<a target='_blank' role='button' " + "href='/lab/ztf-alerts/" + row['candid'] +
                "' class='btn btn-sm btn-outline-dark mt-1 ml-1 mb-1 align-top'>Details <i class='fas fa-external-link-alt'></i></a>");
            html.push("</div>");

            // close buttons row
            html.push("</div>");

            return html.join('');
        }

        // reset height of table with search results
        function resetTableHeight() {
            var $table = $('#table');
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        }
        $(document).ready(function() {
            // on load
            if( $('#table').length ) {
                resetTableHeight();
            }
        });
        $(window).resize(function () {
            // on window resize
            if( $('#table').length ) {
                resetTableHeight();
            }
        });

        {# table sorting #}
        function getOrder() {
            var $table = $('#table');
            return $table.bootstrapTable('getOptions').sortOrder === 'asc' ? -1 : 1;
        }

        function numberSorter(a, b) {
            a = $.trim(a.replace(/<\/?[^>]+(>|$)/g, ""));
            b = $.trim(b.replace(/<\/?[^>]+(>|$)/g, ""));
            if (!a || a === 'None') return -1 * getOrder();
            if (!b || b === 'None') return 1 * getOrder();
            if (parseFloat(a) < parseFloat(b)) return -1;
            if (parseFloat(a) > parseFloat(b)) return 1;
            return 0;
        }

        function stringSorter(a, b) {
            a = $.trim(a.replace(/<\/?[^>]+(>|$)/g, ""));
            b = $.trim(b.replace(/<\/?[^>]+(>|$)/g, ""));
            if (!a || a === 'None') return -1 * getOrder();
            if (!b || b === 'None') return 1 * getOrder();
            if (a < b) return -1;
            if (a > b) return 1;
            return 0;
        }

        {# expand all rows in table #}
        function toggle_expansion(){
            if ($("#expansion_toggle").hasClass('fa-plus')) {
                $('#table').bootstrapTable('expandAllRows', false);
            }
            else {
                $('#table').bootstrapTable('collapseAllRows', false);
            }
            $("#expansion_toggle").toggleClass('fa-plus fa-minus');
        }

        {# toggle cutout color invert #}
        function toggle_invert_cutouts(){
            $('.cutout').toggleClass('invert');
        }


        {# init tooltips #}
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        {# actions #}
        {# download json as files #}
        function download(json, name, type) {
            var a = document.createElement("a");
            var file = new Blob([json], {type: type});
            var url = URL.createObjectURL(file);
            a.href = url;
            a.download = name;
            document.body.appendChild(a);
            a.click();
            setTimeout(function(){
                document.body.removeChild(a);
                window.URL.revokeObjectURL(url);
            }, 100);
        }

        // submit query
        $(document).ready(function() {
            $('#submit_query').click(function () {
                bootbox.confirm({
                    message: "Do you want to submit the query?",
                    buttons: {
                        cancel: {
                            label: '<i class="fas fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fas fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        // console.log('This was logged in the callback: ' + result);
                        // confirmed? emit request to server:
                        if (result) {
                            $('#query_form').submit();
                        }
                    }
                });
            });
        });

        {# show flashing messages #}
        function showFlashingMessage(title, message, type) {
            $.notify({title: title, message: message},
                {placement: {
                    from: "bottom",
                    align: "right"
                },
                    type: type,
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" ' +
                    'style="max-width:400px; font-size: 0.75rem;">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" ' +
                    'aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
        }
        {% if messages | length > 0 %}
            $(document).ready(function() {
                {% for message in messages %}
                    showFlashingMessage('Info:', '{{ message[0] }}', '{{ message[1] }}');
                {% endfor %}
            });
        {% endif %}
    </script>

    {# populate form from previous request #}
    {% if form | length > 0 %}
    <script>
        $(document).ready(function() {
            {%-for key in form-%}
                {%-if form[key] == 'on'-%}
                    $('#{{-key-}}').prop('checked', true);
                {%-else-%}
                    $('#{{-key-}}').val("{{-form[key]|safe|replace('\"', '\'')-}}");
                {%-endif-%}
            {%-endfor-%}
        })
    </script>
    {% endif %}
{% endblock %}