{% extends "template.html" %}

{# custom css #}
{% block css %}
    <link rel="stylesheet" href="{{-script_root-}}/static/css/styles/default.css">
    <link rel="stylesheet" href="{{-script_root-}}/static/css/jquery.json-viewer.css">
    <link rel="stylesheet" href="{{-script_root-}}/static/css/js9support.css">
    <link rel="stylesheet" href="{{-script_root-}}/static/css/js9.css">
{% endblock %}

{% block nav_lab %}
    active
{% endblock %}


{% block body %}

    <div class="container">
        <div class="row mb-2">
            <div class="col-12">
                <h3>ZTF Alert {{ alert['_id'] }}</h3>
            </div>
        </div>

        <div class="row">

            {# cutouts: #}
            {% for cutout in ["Science", "Template", "Difference"] %}
            <div class="col-md-auto">
                <figure class='figure m-1 align-top'>
                    <div class="JS9" id="JS9{{ cutout }}" data-width="180px" data-height="180px"></div>
{#                    <div style="margin-top: 2px;">#}
{#                        <div class="JS9Colorbar" id="JS9{{ cutout }}Colorbar"#}
{#                             data-displays="JS9{{ cutout }}" data-width="180px"></div>#}
{#                    </div>#}
                    <div class="JS9Menubar d-none" id="JS9{{ cutout }}Menubar"
                         data-displays="JS9{{ cutout }}" data-width="180px"></div>
                    <figcaption class='mt-2 figure-caption text-center'>
                        {{ cutout }} <a href="/lab/ztf-alerts/{{-alert["candid"]-}}/cutout/{{ cutout }}"><i class='fas fa-download'></i></a>
                    </figcaption>
                </figure>
            </div>
            {% endfor %}

            {# lightcurve #}
{#            <div class="col-md-4">#}
{#                <figure class='figure ml-3 mt-1 mb-1 align-top'>#}
{#                    <img class='figure-img img-fluid mb-1 mr-1' style='width: 295px'#}
{#                         src='/data/{{ alert['_id'] }}/lightcurve.jpg'>#}
{#                    <figcaption class='figure-caption text-center'>Light curve</figcaption>#}
{#                </figure>#}
{#            </div>#}
        </div>

        <div class="row">
            <div class="col-sm-12">
                {# Buttons:#}
                <div class="col-sm-12 p-0 m-0">

                <a role='button' href="#" class='btn btn-sm btn-outline-dark mt-1 ml-1 mb-1 align-top'
                   onclick="toggleMenus()">Toggle JS9 Menus</a>
                <a role='button' download='{{alert['candid']}}.json' href='/lab/ztf-alerts/{{alert['candid']}}?format=json'
                   class='btn btn-sm btn-outline-dark mt-1 ml-1 mb-1 align-top'>Download JSON <i class='fas fa-download'></i></a>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <h5>Light curves from the alert packet</h5>

                {% if lc_candid | length == 0 %}
                {# this should never happen! #}
                <p>No photometry available.</p>

                {% else %}

                <div id="lc" style="width: 100%; height: 300px;"></div>

                <div class="form-group row mt-2">
                    <label for="epoch" class="col-lg-2 control-label">
                        Epoch:
                    </label>

                    <div class="col-md-4">
                        <select class="form-control form-control-sm col-lg-6" id="epoch" name="epoch">
                            <option>date</option>
                            <option>mjd</option>
                            <option>jd</option>
                            <option>hjd</option>
                            <option>days ago</option>
                        </select>
                    </div>
                </div>

                <hr>

                <p class="mt-2">
                {% for lc in lc_candid %}
                    {% if lc['lc_type'] == 'temporal' %}
                        {% set lc_info = {'telescope': lc['telescope'],
                                          'instrument': lc['instrument'],
                                          'filter': lc['filter'],
                                          'id': lc['id']} %}
                        <b>Light curve {{ loop.index }}:</b> {{ lc_info | safe }}<br>
                    {% endif %}
                {% endfor %}
                </p>

                <hr>
                {% endif %}
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <h5>Composite light curves for {{ alert['objectId'] }}</h5>
                {{ lc_candid }}
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-12">
                <h5>Avro-packet contents</h5>
{#                <pre><code class="json">{{alert|tojson_pretty|safe}}</code></pre>#}
                <p>
                    <pre id="json-renderer" class="pl-4 pr-4"></pre>
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- JS9 -->
    <script type="text/javascript" src="{{-script_root-}}/static/js/js9prefs.js"></script>
    <script type="text/javascript" src="{{-script_root-}}/static/js/js9support.min.js"></script>
    <script type="text/javascript" src="{{-script_root-}}/static/js/js9.min.js"></script>
    <script type="text/javascript" src="{{-script_root-}}/static/js/js9plugins.js"></script>

    <!-- Big int support for js -->
    <script src="{{-script_root-}}/static/js/json-bigint.js"></script>

    <!-- Julian dates -->
    <script src="{{-script_root-}}/static/js/julianDate.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

    <!-- Highlight code-->
    <script src="{{-script_root-}}/static/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="{{-script_root-}}/static/js/jquery.json-viewer.js"></script>

    <script>
        var data = JSONbig.parse('{{-alert|tojson(indent=2)|safe|replace('\n', '')-}}');
        {#var data = JSONbig.parse('{{ alert }}');#}
        {#console.log(data);#}
        $('#json-renderer').jsonViewer(data, {collapsed: true, withQuotes: true});
        // open
        $('#json-renderer').find(">:first-child").trigger("click");
    </script>


    <script>
        {# Cutouts #}
        document.addEventListener('DOMContentLoaded', function () {
            JS9.Preload('/lab/ztf-alerts/{{-alert["candid"]-}}/cutout/science', {scale: 'log', onload: setZoom}, {display: 'JS9Science'});
            JS9.Preload('/lab/ztf-alerts/{{-alert["candid"]-}}/cutout/template', {scale: 'log', onload: setZoom}, {display: 'JS9Template'});
            JS9.Preload('/lab/ztf-alerts/{{-alert["candid"]-}}/cutout/difference', {scale: 'log', onload: setZoom}, {display: 'JS9Difference'});
            {#plotLightCurve();#}
        });

        function toggleMenus() {
            menus = document.getElementsByClassName('JS9Menubar');
            for (var i = 0; i < menus.length; i++) {
                menus[i].classList.toggle('d-none');
            }
        }

        function setZoom(display) {
            JS9.SetZoom('ToFit', {display: display});
        }

        {# Light curves #}
        var data_det = [];
        var data_non_det = [];

        function plot_lc(x_axis="dt") {
            {#// flush first:#}
            {#Plotly.newPlot('lc');#}

            let layout = {xaxis: {autorange: true},
                          yaxis: {autorange: 'reversed'},
                          showlegend: true,
                          {#automargin: true,#}
                          margin: {b: 30, t: 30, l: 50, r: 50, pad: 1},
            };

            {% for lc in lc_candid %}
                {% if lc['lc_type'] == 'temporal' %}
                    let data_{{ loop.index }} = {
                        x: [],
                        dt: {{ lc['dt'] | safe }},
                        days_ago: {{ lc['days_ago'] }},
                        mjd: {{ lc['mjd'] }},
                        hjd: {{ lc['hjd'] }},
                        jd: {{ lc['jd'] }},
                        y: {{ lc['mag'] }},
                        error_y: {type: 'data',
                                  array: {{ lc['magerr'] }},
                                  width: 2,
                                  thickness: 0.8,
                                  opacity: 0.5,
                                  visible: true},
                        {#line: {shape: 'spline', width: 0.5},#}
                        mode: 'markers',
                        name: 'LC_{{ loop.index }}'
                    };

                    // set x:
                    if (x_axis === 'mjd') {
                        data_{{ loop.index }}.x = data_{{ loop.index }}.mjd
                    }
                    else if (x_axis === 'jd') {
                        data_{{ loop.index }}.x = data_{{ loop.index }}.jd
                    }
                    else if (x_axis === 'hjd') {
                        data_{{ loop.index }}.x = data_{{ loop.index }}.hjd
                    }
                    else if (x_axis === 'days ago') {
                        data_{{ loop.index }}.x = data_{{ loop.index }}.days_ago
                    }
                    else {
                        data_{{ loop.index }}.x = data_{{ loop.index }}.dt
                    }

                    data_det.push(data_{{ loop.index }});
                    {#Plotly.plot('lc', data_{{ loop.index }}, layout);#}

                {% endif %}
            {% endfor %}

            if (x_axis === 'days ago') {
                // revese x axis
                layout.xaxis.autorange = 'reversed';
            }

            // plot detections
            Plotly.newPlot('lc', data_det, layout);
            // todo: plot non-detection
        }

        {% if lc_candid | length > 0 %}
        $(document).ready(function() {
            // wait for whole document to load before plotting light curves
            plot_lc();
        });

        $('#epoch').on('change', function() {
            // change x axis
            // console.log(this.value);
            data = [];
            plot_lc(this.value);
        });

        {% endif %}

        {# show flashing messages #}
        function showFlashingMessage(title, message, type) {
            $.notify({title: title, message: message},
                {placement: {
                    from: "bottom",
                    align: "right"
                },
                    type: type,
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert" ' +
                    'style="max-width:400px; font-size: 0.75rem;">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" ' +
                    'aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
        }
    </script>


{% endblock %}