body {
    padding-top: 1rem;
    font-size: 0.9rem;
    overflow-x: hidden;
}
code {
    font-size: 0.6rem !important;
}
/*.navbar {*/
/*    padding: 0.3rem 2rem !important;*/
/*}*/
#wrapper {
    padding-top: 1.5rem;
    padding-left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f7f8f9;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
    list-style: none;
    font-size: 0.7rem;
    font-weight: 200;
}
.sidebar-nav li {
    text-indent: 0.5rem;
    line-height: 1.2rem;
    color: #333;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #333;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333;
    background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav>.sidebar-brand {
    height: 1.3rem;
    font-size: 1rem;
    line-height: 1.1rem;
    width:90%;
}
.sidebar-nav>.sidebar-brand a {
    color: #333;
}
.sidebar-nav>.sidebar-brand a:hover {
    color: #222;
    background: none;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.bg-info {
    color: #e2e2fc !important;
}
.bg-info>a {
    color: #e2e2fc !important;
}
.resizable:active {
    height: 0;
    width: 0;
}